[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2-binary = "*"
django-environ = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
pyyaml = "*"
uritemplate = "*"
drf-yasg = "*"
razorpay = "*"

[dev-packages]

[requires]
python_version = "*"
